<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357342814981-ubmrt0s60d8i0mg66nrod89h8fu30m0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357342814981-ubmrt0s60d8i0mg66nrod89h8fu30m0d</string>
	<key>API_KEY</key>
	<string>AIzaSyCtmXEFUB_zQfbyxtpb9_r2Hf0Ms9elnDs</string>
	<key>GCM_SENDER_ID</key>
	<string>357342814981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.cilia.filippo.DrinkoPro</string>
	<key>PROJECT_ID</key>
	<string>drinkopro-4f338</string>
	<key>STORAGE_BUCKET</key>
	<string>drinkopro-4f338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357342814981:ios:7e267414e7888c30a6cd6c</string>
</dict>
</plist>