<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict>
			<key>BackgroundColor</key>
			<string>Dr. Blue</string>
		</dict>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>original</string>
			</array>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>original-black-white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>original-black-white</string>
				</array>
			</dict>
			<key>text-black-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>text-black-blue</string>
				</array>
			</dict>
			<key>text-black-white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>text-black-white</string>
				</array>
			</dict>
			<key>text-black-yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>text-black-yellow</string>
				</array>
			</dict>
			<key>text-blue-white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>text-blue-white</string>
				</array>
			</dict>
			<key>text-blue-yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>text-blue-yellow</string>
				</array>
			</dict>
			<key>text-pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>text-pride</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
